@import '_variable.scss';

* {
  box-sizing: border-box;
}

a[target=_blank]:after {
  content: '';
  position: absolute;
  width: 1em;
  height: 1em;
  background: center/ contain no-repeat url("../img/external-link-alt-solid.svg");
  margin-left: 3px;
}

.reset-margin {
  margin: 0;
}

#body-wrapper {
  width: 100vw;
  height: 100vh;

  #top-bar {
    height: $top-bar-height;
    width: 100%;
    padding: $top-bar-vertical-padding 0;

    border-bottom: $top-bar-border-weight solid black;
    display: flex;

    #side-bar-toggler {
      height: 100%;
      width: $top-bar-inner-height;

      background: center/ contain no-repeat url("../img/bars-solid.svg");
    }

    #tool-bar {
      height: 100%;
      flex-grow: 99;
      display: flex;

      .tool-bar-content {
        border: 1px solid black;
        border-radius: 3px;
      }

      .tool-one, .tool-two, .tool-three, .tool-four, .tool-five {
        width: 250px;
        margin-left: 50px;
      }

      .tool-four {
        width: 350px;
      }

      .tool-five {
        margin-left: 150px;
      }
    }

    #user-icon {
      height: $top-bar-inner-height;
      width: $top-bar-inner-height;
      border: 3px solid black;
      border-radius: 50%;
    }
  }

  #main-wrapper {
    height: calc(100vh - 60px);
    display: flex;

    #side-bar {
      height: 100%;
      width: $side-bar-width;
      display: flex;
      flex-direction: column;
      border-right: $top-bar-border-weight solid black;

      .sidebar-content-icon {
        object-fit: contain;
      }

      .sidebar-content-title {
        vertical-align: top;
      }

      #side-bar-main-content {
        flex-grow: 99;
      }

      .sidebar-content.normal-content {
        width: 100%;
        height: $side-bar-normal-content-height;
        line-height: $side-bar-normal-content-height;
        border-bottom: 1px solid black;

        .sidebar-content-icon {
          width: $side-bar-normal-content-height;
          height: $side-bar-normal-content-height;
          padding: $side-bar-normal-content-height * 0.1;
        }
      }

      .sidebar-content.mini-content {
        width: 100%;
        height: $side-bar-mini-content-height;
        line-height: $side-bar-mini-content-height;
        border-bottom: 1px solid black;

        .sidebar-content-icon {
          width: $side-bar-mini-content-height;
          height: $side-bar-mini-content-height;
          padding: $side-bar-mini-content-height * 0.1;
        }
      }

      .bottom-content {
        border-top: 1px solid black;
      }

      .multi-line-content {
        line-height: unset !important;
      }

      #kinpri-hp-link {
        text-align: center;
      }
    }

    #main-content {
      overflow: auto;
      flex-grow: 1;
    }
  }
}